<!DOCTYPE html>
<html>
    <head>
        <title>EasyLink|Home</title>
        <script type="text/javascript" src="{{ url_for('static', path='/homescript.js') }}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
        <style>
            body {
                font-family: 'Azeret Mono', monospace;
                background-color : lightsteelblue;
            }
        </style>
    </head>
    <body>
        <div class="homehead">
            <h1>EasyLink</h1>
        </div>
        <div class="homemain">
            <p>
                Hey there!You have reached the home page of EasyLink link shrotner.<br>
            To see out web api end points click <a href="http://localhost:8080/docs">here</a>.
            </p>
        </div>
        <div class="homefoot">
            <p id="webhits">Total end-point hits : {{ wb }}</p>
        </div>
    </body>
    <script type="text/javascript">
    </script>
</html>
